*{margin: 0%;padding: 0%;}
                                                                /*estilo general*/
@import "variables.scss";

a{
    color: rgb(252, 157, 144);
    text-decoration: none;
}
$navbgcolor:red, orange, yellow,green, lightblue,purple;

@each $bgcolor in $navbgcolor{
    ##{$bgcolor}{
        background-color: $bgcolor;
    }
}

@mixin text($fontsizetext){
    text-align: center;
    font-size:$fontsizetext;
    font-family: sans-serif;
}

@mixin titles($fontsizetitle){
    margin: 7%;
    font-weight: bold;
    font-size: $fontsizetitle;
    color: rgb(240, 125, 18);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
                                                                /*Media Mobile*/
@media screen and (max-width:410px){
    a{
        color: black;
    }
    /*--------Mobile Nav------*/
.nav{
    display: flex;
    flex-direction: column;

       &_list{
        text-align: center;
            &_item{ 
                    padding: 5px 0px 5px 0px;
            }
       }
            
       
  
    }
}
/*--------Mobile Main Index------------*/
.main_colum_index{
    background-image: url(wall7.jpeg);
    height: 500px;

        .text{
            @include text(1.5rem);
            color: rgb(65, 65, 65)
        }
        .title{
            @include titles(3rem);
            -webkit-text-stroke: 2px black;
        }
}

/*---------Mobile Contacto-------------*/



                                                /* -----------Media Desktop--------------*/
@media screen and (min-width:411px){
/*--------Desktop Nav----------*/
.nav{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 200px;
    &_list{
        
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        font-size: 20px;
        font-weight: bold;

        width: 750px;
        padding: 5%;
        &_item{
            background-image: linear-gradient(to top,black, rgb(69, 138, 218));
            border-radius: 10px;
            padding: 4%;
            margin: 0px 5px 0px 5px;            
        }       
        .fxgrow3{
            flex-grow: 10;
        }
        .fxgrow2{
            flex-grow: 5;
        }
        .fxgrow1{
            flex-grow: 1;
        }
    }   
}
/*-----------------Desktop Main General---------------*/
.main{
    background-image: linear-gradient(to bottom ,black 2%, rgb(58, 58, 58) 80%);
    display: flex;
    justify-content: center;
    height: $height;
}

.main_colum{
    background-image: url(wall7.jpeg);
    width: 50%;
    height: $height;

}

/*-----------Desktop pagina1---------*/
.main1{
    @extend .main;
    .main_colum_1{ 
        @extend .main_colum;}
        
}
/*------Desktop Main index-------*/
.main_index{
    @extend .main;
    .main_colum_index{
        @extend .main_colum;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
       @include titles(3rem);
    }
    .text{
        width: 75%;
        text-align: center;
        margin: 20px;
        font-size: 25px
        }   
    }
/*----------Desktop Discografía-------*/
.main_2{
    @extend .main;
    .main_colum_2{
        @extend .main_colum;
        $Listacolums: a1,a2,a3,a4,a5,a6,a7,a8,a9;
            @each $a1 in $Listacolums{
                ##{$a1}{
                    grid-area: $a1;
                }
            }


        background-image: url(wall5.jpg);
        width: 50%;
        height: $height;
        display: grid;
           grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
           grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
           grid-template-areas: "Left top top top right" 
                                "Left a1 a2 a3  right "
                                "left a4 a5 a6 right"
                                "left a7 a8 a9 right"
                                "left bot bot bot right";
            align-content: center;
        .img_box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 75%;                
        } 

    }
}
/*-----------Desktop Pagina3----------*/
.main_3{
    @extend .main;
}
/*----------Desktop Pagina4-----------*/
.main_4{
    @extend .main;
}

}
