*{padding: 0%;margin: 0%;}

/*Estilo General*/
a{
    text-decoration: none;
    color: white
}
.NavItem{
    background-color: rgb(87, 192, 87); 
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
    text-align: center;
    margin: 2px;
    
    height: 25px;

}
.Text{
    text-align: center;
    font-weight: bold;
}
.Nav{
    background-color: black;}
main{
        height: 550px;
        background-image: url(river.jpg);
        background-position: 50% 50%;
        background-attachment:fixed;
    }

#Parragraph{
        margin: 0 20% 0 20%;
    }
img{
        height: 100%;
        width: 100%;
    }
.ImageBox{
        margin: 20px;
    }
h1{
        text-align: center;
    }
.FooterStyle{
        background-color: black;
    }
#FormItself{
    background-color: rgb(48, 87, 48);
    
}

    /*MediaQuieries*/

    /*Mobile*/
@media screen and (max-width:400px) {
.Nav{
    height: 160px;
    display: flex;
    justify-content: center;
    
}
.NavList{
    width: 75%;
}
.NavItem{
    margin: 5px 0px 5px 0px;
}
main{ 
    display: flex;
    flex-direction: column;
}
.MainFlex{
    display: flex;
    
}
.FormBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Form{
    margin:10px;
    padding: 5px;
    width: 50%;
}
#FormItself{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    height: 150%;
}
#FormText{
    font-size: 18px;
    margin: 20px;
}
}
     /*Desktop*/
@media screen and (min-width:401px) {
.NavList{
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
   align-items: center;
}
.NavItem{
    padding: 5px;
}
 main{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
 }
.ImageBox{
    width: 50%;
    height:50%;
}
}

